html, body{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto';
}
header{
    background-color: darkgrey;
    padding: 10px;
    border-bottom: 1px solid burlywood;
}
header::after{
    content: "";
    clear: both;
    display: table;
}

header img{
    width: 100px;
    height: auto;
}
header .logo-left{
    float: left;
}
header .logo-right{
    float: right;
}
header .logo-left .logo{
    display: block;
}
header .logo-left .logo img, 
header .logo-left .logo h2{
    display: inline-block;
    vertical-align: middle;
}
main{
    flex: 1 0 auto;
}
table, td, th{
border: 1px solid black;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    padding: 15px;
}
th{
    background-color: rgb(73, 73, 189);
}
th:nth-child(2),
th:nth-child(3),
th:nth-child(4),
td:nth-child(2),
td:nth-child(3),
td:nth-child(4){
    min-width: 70px;
}
footer{
    padding: 15px;
    background-color: darkgrey;
    color: black;
}
footer .left-footer,
footer .right-footer{
    width: calc(100% / 2);
    float: left;
    text-align: center;
}
.status{
    display: block;
    width: 100%;
    height: 8px;
}
.is_normal{
    background-color: green;
}
.is_alarm{
    background-color: red;
}
.main-kiri, .main-kanan{
width: calc(calc(100% / 2) - 30px);
float: left;
padding:0 15px;
}